.container-header{
    background-color: rgba(50, 75, 80, 1);
    width: 1520px;
    height: 10%;
    /* position: fixed; */
}

.logo img{
    width: 100px;
    height: 60px;
    margin-left: 1.5%;
}

.logo{
    display: flex;
    align-items: center;
}



